body  {
    background-image: url("../img/fondohor.png");
	background-size: 20%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
	color: white;
	margin:0;
	padding: 0.5%;
	font-family: impact;
	font-weight: normal;
	font-size: 1.6vw;
	text-align: justify;
}

a{
	text-decoration: none;
}

.textopanelcontrol{
	display: block;
	padding-top:4%;
	padding-bottom:4%;
	padding-left: 8%;
	color: white;
	font-family: impact;
	font-weight: normal;
	font-size: 2vw;	
}

.numeros {
	color:lightcyan;
}

.menutexto {
	color: orange;
	margin: 0;
	padding: 10%;
	font-family: impact;
	font-weight: normal;
	text-align: center;
	font-size: 3vw;
}

.menuinstruccionestexto {
	color: orange;
	margin: 0;
	padding: 5%;
	font-family: impact;
	font-weight: normal;
	text-align: center;
	font-size: 3vw;
}

.opcionesmenu {
	display: block;
	color: white;
	font-family: impact;
	font-weight: normal;
	font-size: 2.5vw;
	padding-bottom:5%;
	padding-top:5%;
	text-align: center;
}

.idioma {
    display: inline;
	color: white;
	font-family: impact;
	font-weight: normal;
	font-size: 2.25vw;
	padding-left:5%;
	padding-right:5%;
	text-align: center;

}

.resaltarp {
	font-style: italic;
}

#panelcontrol {
	background-color: #454545;
	position: fixed;
	border: solid #202020;
	padding: 0.5%;
	top: 5%;
	left: 5%;
	width: 20%;
}

#divcohete {
    position: fixed;
    top: 5%;
	width: 100%;
	height:20%;
}

#imgcohetehor {
	display: block;
    margin: auto;
	height: 100%;	
}
#imgcohetever {
	display: none;	
}
#imgprophor {
	display: none;
	margin: auto;
	height: 100%;
}
#imgpropver {
	display: none;	
}

#divexplosion {
	display: none;
    position: fixed;
    bottom: 10%;
	width: 100%;
	height:20%;
}

#imgexphor {
	display: block;
    margin: auto;
	height: 100%;	
}
#imgexpver {
	display: none;	
}


#divmenu {
	position: fixed;
    top: 5%;
    right: 3%;
	height: 15%;
	width: 100%;
}

#imgmenu {
	position: absolute;
	height: 100%;
	right: 0%;
}

#menu{
	display: none;
	background-color: #454545;
	position: fixed;
	text-align: center;
	border: solid #202020;
	border-width: 10%;
	padding-left: 5%;
	padding-right: 5%;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#menuinstrucciones {
	display: none;
	background-color: #454545;
	position: fixed;
	border: solid #202020;
	border-width: 10%;
	padding-left: 5%;
	padding-right: 5%;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#listaidioma {
	text-align: center;
}

#return {
	color: orange;
}

#luna {
	background-image:url("../img/lunahor.png");
	background-size: 25%;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
	height:10%;
}

#alien {
	background-image:url("../img/alienhor.png");
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: contain;
    position: fixed;
    bottom: 10%;
    left: 10%;
	width: 100%;
	height:10%;	
	
}


